<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>GBD</title>
<link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <header>
        <h1>Gestión de base de datos</h1>
    </header> 
  <div class="container">
    <div class="row">
      <a href="/administrar_usuarios" class="box">
        <h3>Administrar roles, usuarios y permisos</h3>
      </a>
      <a href="/respaldo_restaurar" class="box">
        <h3>Respaldo y restauración de base de datos</h3>
      </a>
    </div>
    <div class="row">
      <a href="/test" class="box">
        <h3>Gestión de consultas y generación de reportes</h3>
      </a>
      <a href="/crud" class="box">
        <h3>Generación de procedimientos de almacenado, CRUD para todas las entidades</h3>
      </a>
    </div>
  </div>
  <h1>SEGUNDO PARCIAL</h1>
  <div class="container" >
<div class="row">
  <a href="/disparadores" class="box">
    <h3>Generación de disparadores de auditoria</h3>

  </a>
  <a href="/logs" class="box">  <h3>Visualizador de eventos y auditoria (Logs)
    generados por su base de datos</h3>
  </a>

</a>

</div>
<div class="row">
  <a href="/prueba" class="box">  <h3>Cursores y automatización utilizando
    transacciones</h3>
  </a>

  <a href="/este" class="box">  <h3>Comparación de consultas aplicando hilos</h3>
  </a>
</div>
</div>
  </div>
  <footer>
    <div class="footer-container">
      <div class="footer-item">
        <img src="/static/images/microsoft_sqlserver.jpg" alt="Imagen 1">
      </div>
      <div class="footer-item">
        <img src="/static/images/sql.jpg" alt="Imagen 2">
      </div>
      <div class="footer-item">
        <img src="/static/images/postgres-logo.jpg" alt="Imagen 3">
      </div>
      <div class="footer-item">
        <img src="/static/images/sqlserver.jpg" alt="Imagen 4">
      </div>
      <div class="footer-item">
        <img src="/static/images/sqlserver.jpg" alt="Imagen 5">
      </div>
    </div>
  </footer>
</body>
</html>
