<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Entidades y Agregar Entidades</title>
    <style>
         input[type="submit"],
        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px;
        }

        input[type="submit"]:hover,
        button:hover {
            background-color: #0056b3;
        }

    </style>
    <script>
        function listEntities() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("entitiesList").innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "/get_entities", true);
            xhttp.send();
        }

        function addEntity() {
            var entityName = document.getElementById("entityName").value;
            if (entityName) {
                window.location.href = '/agregar_entidad?nombre_entidad=' + entityName;
            }
        }
        
    </script>
</head>
<body>
    <button type="button" onclick="window.location.href='/'">Atrás</button>
    <div class="container_entidad">
    <h1>Listado de Entidades de la Base de Datos</h1>
    <button onclick="window.location.href='/agregar_entidad'">Agregar Entidad</button> 
    <button onclick="listEntities()">Listar Entidades</button>
    <button onclick="redirectToGenerar()">Generar </button>

    <div id="entitiesList"></div>
</div>
    <script>
        function viewAttributes(entityName) {
            window.location.href = '/ver_atributos/' + entityName;
        }
        function redirectToGenerar() {
            window.location.href = '/generar.html';
        }
    </script>
</body>
</html>
